<p id="notice"><%= notice %></p>

<p>
  <strong>Memory:</strong>
  <%= @videocard.memory %>
</p>

<p>
  <strong>Memorytype:</strong>
  <%= @videocard.memorytype %>
</p>

<p>
  <strong>Memoryinterfacewidth:</strong>
  <%= @videocard.memoryinterfacewidth %>
</p>

<p>
  <strong>Memorybaseclock:</strong>
  <%= @videocard.memorybaseclock %>
</p>

<p>
  <strong>Memoryboostclock:</strong>
  <%= @videocard.memoryboostclock %>
</p>

<p>
  <strong>Memorybandwidth:</strong>
  <%= @videocard.memorybandwidth %>
</p>

<p>
  <strong>Computingpower:</strong>
  <%= @videocard.computingpower %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @videocard.interface %>
</p>

<p>
  <strong>Chipset:</strong>
  <%= @videocard.chipset %>
</p>

<p>
  <strong>Sli:</strong>
  <%= @videocard.sli %>
</p>

<p>
  <strong>Slitype:</strong>
  <%= @videocard.slitype %>
</p>

<p>
  <strong>Crossfire:</strong>
  <%= @videocard.crossfire %>
</p>

<p>
  <strong>Crossfiretype:</strong>
  <%= @videocard.crossfiretype %>
</p>

<p>
  <strong>Dviport:</strong>
  <%= @videocard.dviport %>
</p>

<p>
  <strong>Hdmiport:</strong>
  <%= @videocard.hdmiport %>
</p>

<p>
  <strong>Minihdmiport:</strong>
  <%= @videocard.minihdmiport %>
</p>

<p>
  <strong>Displayport:</strong>
  <%= @videocard.displayport %>
</p>

<p>
  <strong>Minidisplayport:</strong>
  <%= @videocard.minidisplayport %>
</p>

<p>
  <strong>Expansionslotw:</strong>
  <%= @videocard.expansionslotw %>
</p>

<p>
  <strong>Tdp:</strong>
  <%= @videocard.tdp %>
</p>

<p>
  <strong>Maxtemp:</strong>
  <%= @videocard.maxtemp %>
</p>

<p>
  <strong>Powerconnectors:</strong>
  <%= @videocard.powerconnectors %>
</p>

<p>
  <strong>Framesync:</strong>
  <%= @videocard.framesync %>
</p>

<p>
  <strong>Ventoinha:</strong>
  <%= @videocard.ventoinha %>
</p>

<p>
  <strong>Maximumresolution:</strong>
  <%= @videocard.maximumresolution %>
</p>

<p>
  <strong>Multimonitor:</strong>
  <%= @videocard.multimonitor %>
</p>

<p>
  <strong>Comprimento:</strong>
  <%= @videocard.comprimento %>
</p>

<p>
  <strong>Largura:</strong>
  <%= @videocard.largura %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @videocard.altura %>
</p>

<p>
  <strong>Color:</strong>
  <%= @videocard.color %>
</p>

<%= link_to 'Edit', edit_videocard_path(@videocard) %> |
<%= link_to 'Back', videocards_path %>
