<%= form_for(header) do |f| %>
  <% if header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
      <% header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :partnum %>
    <%= f.text_field :partnum %>
  </div>

  <div class="field">
    <%= f.label :creator %>
    <%= f.text_field :creator %>
  </div>

  <div class="field">
    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= f.label :platform %>
    <%= f.text_field :platform %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
