<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome do Produto' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image, 'Link da Imagem' %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :partnum, 'Número de Registro da Parte (Part Number)' %>
    <%= f.text_field :partnum %>
  </div>

  <div class="field">
    <%= f.label :manufacturer, 'Fabricante' %>
    <%= f.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= f.label :platform, 'Plataforma' %>
    <%= f.text_field :platform %>
  </div>

  <div class="actions">
    <%= f.submit 'Adicionar Produto' %>
  </div>
<% end %>
